* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 50px;
  background-color: #422e3b;
  /* position: fixed; */
}

.navbar > input {
  width: 70%;
  border: 2px solid white;
  margin-top: 8px;
  margin-bottom: 8px;
}

.navbarbtn > button {
  height: 50px;
  width: 150px;
  background-color: #f0ddca;
  color: rgba(0, 0, 0, 0.617);
  font-family: "Lucida Sans", sans-serif;
  font-size: 17px;
}

.title {
  font-family: "Lexend Exa", sans-serif;
  font-weight: bolder;
  font-size: 220px;
  color: #f0ddca;
}

body {
  background-color: #6d242e;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inp-name {
  width: 50%;
  padding: 8px;
  margin: 10px;
  margin-top: 180px;
  border-radius: 15px;
}

.inp-number {
  width: 50%;
  padding: 8px;
  margin: 10px;
  border-radius: 15px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card {
  position: relative;
}
.card > img {
  width: 100%;
}
.card-title {
  text-align: center;
  position: absolute;
  top: 96px;
  right: 137px;
  color: white;
  font-family: "UnifrakturCook";
}
.card-title > h4 {
  font-size: 45px;
  width: 200px;
}
.card-title > h2 {
  font-size: 70px;
}

.create-btn {
  width: 50%;
  padding: 8px;
  margin: 10px;
  border-radius: 15px;
  background-color: #9f3b38;
  margin-bottom: 100px;
  color: #f0ddca;
  font-size: 15px;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #422e3b;
  padding: 50px;
}

.modal > input {
  width: 50%;
  margin-bottom: 20px;
  border-radius: 15px;
  padding: 8px;
}

.modal > button {
  width: 50%;
  margin-bottom: 20px;
  border-radius: 15px;
  padding: 8px;
  background-color: #9f3b38;
  color: #f0ddca;
}

.container {
  display: none;
}
